.menu-btn {
  position: absolute;
  z-index: 5;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.2s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #a4ab55;
    transition: all 0.2s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg) scale(1.5); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    opacity: 0.95;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right bottom, #7ed56f, #28b483);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.2s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu .nav-item {
    transform: translate3d(100%, 0, 0);
    transition: all 0.2s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #d6ce78; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 3rem;
    text-transform: uppercase;
    padding: 2rem;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease-out; }
    .menu .nav-link:hover {
      color: #d6ce78; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

.nav-item:nth-child(5) {
  transition-delay: 0.5s; }

.product {
  margin: 1rem; }
  .product__header {
    height: 70vh;
    background-image: linear-gradient(to right bottom, rgba(128, 214, 113, 0.9), rgba(39, 180, 131, 0.9)), url(../img/rice-2.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
    border-radius: 5px; }
  .product__heading {
    font-size: 12rem;
    font-weight: 100;
    color: #fff;
    padding: 5px 5rem;
    border-radius: 5px; }
    .product__heading span {
      color: #8c6e15; }
    .product__heading-2 {
      font-size: 4.5rem;
      font-weight: 300; }
    .product__heading-3 {
      font-size: 7.5rem;
      text-align: center;
      font-weight: 300;
      margin-bottom: 5rem;
      color: #8c6e15; }
  .product__item {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
    padding: 3rem; }
  .product__image {
    width: 35%;
    margin-right: 2rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.2); }
  .product__text {
    font-size: 2rem;
    font-weight: 100; }

.services {
  background-image: linear-gradient(to bottom, rgba(26, 112, 145, 0.7), rgba(2, 49, 99, 0.7)), url(../img/business.jpg);
  background-size: cover;
  background-position: center bottom;
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 8rem; }
  .services__heading {
    font-size: 12rem;
    font-weight: 100;
    width: max-content;
    color: #fff; }
    .services__heading span {
      color: #8c6e15; }

.contact {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(128, 214, 113, 0.602), rgba(39, 180, 131, 0.616)), url(../img/farm-view.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: table; }
  .contact__header {
    text-align: center;
    font-size: 9rem;
    font-weight: 300;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .contact__form {
    margin-top: 8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .contact__form input {
      font-size: 2rem;
      width: 100%;
      margin: 2rem 0;
      background: rgba(0, 0, 0, 0);
      border: none;
      outline: none;
      border-bottom: 1px solid #fff;
      color: #fff; }

.contact__form textarea {
  color: #fff;
  font-size: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  outline: none;
  background: linear-gradient(rgba(66, 143, 89, 0.034), rgba(141, 194, 157, 0.452)); }

.contact__form-btn {
  background: #27b483;
  border-color: transparent;
  color: #fff;
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 2px;
  height: 5rem;
  margin-top: 2rem;
  transition: all 0.3s; }
  .contact__form-btn:hover {
    background-color: #3e9c5a;
    cursor: pointer; }

::-webkit-input-placeholder {
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 2px; }

#msg {
  margin-top: 12rem;
  height: 7rem; }

.footer {
  background-color: #444; }
  .footer__logo-box {
    display: flex;
    justify-content: center; }
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
  .footer__list {
    list-style: none;
    display: flex; }
  .footer__item {
    display: flex;
    font-size: 2rem;
    font-weight: 100;
    margin: 1rem; }
  .footer__link {
    color: #fff; }
    .footer__link:hover {
      color: #8c6e15; }
  .footer__left {
    display: flex; }
  .footer__address {
    display: flex; }
  .footer__copyright {
    font-size: 2rem;
    font-weight: 100;
    margin-right: 2rem; }
  .footer address {
    padding-left: 1rem;
    transform: translateY(-0.5rem); }

html {
  font-size: 10px; }

* {
  box-sizing: border-box; }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: #777; }
  body#bg-img {
    background: linear-gradient(to right bottom, rgba(128, 214, 113, 0.9), rgba(39, 180, 131, 0.9)), url(../img/rice-2.jpg);
    background-attachment: fixed;
    background-size: cover; }

h1,
h2,
h3 {
  margin: 0; }

.landing {
  display: flex;
  flex-flow: column;
  padding: 20rem 0 0 5rem;
  height: 100%;
  line-height: 1;
  /* background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.657),
      rgba(40, 180, 131, 0.65)
    ),
    url(../img/rice-2.jpg);*/
  background-size: cover;
  height: 100vh; }
  .landing__text-lg {
    font-size: 15rem;
    font-weight: 100;
    color: #fff; }
    .landing__text-lg span {
      color: #d6ce78; }
  .landing__text-md {
    font-size: 7.5rem;
    font-weight: 100;
    color: #fff;
    margin-bottom: 5rem; }
  .landing__text-sm {
    font-size: 3.5rem;
    font-weight: 300;
    color: #fff;
    margin-bottom: 5rem; }
  .landing__btn {
    background: #fff;
    width: max-content;
    font-size: 3rem;
    font-weight: 100;
    padding: 1rem 3rem;
    border-radius: 2rem;
    margin-top: 3rem;
    color: #548056; }
    .landing__btn:hover {
      transition: all 0.2s ease-out; }
  .landing__icons {
    margin-top: 5rem; }
    .landing__icons a {
      padding-right: 2rem;
      color: #fff; }
      .landing__icons a:hover {
        color: #8c6e15;
        transition: all 0.2s ease-out; }

a {
  text-decoration: none; }

.header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.head__picture {
  height: 70vh;
  background-image: linear-gradient(to right bottom, rgba(128, 214, 113, 0.883), rgba(39, 180, 131, 0.863)), url(../img/rice-2.jpg);
  margin: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center; }

.about {
  margin: 1rem;
  border-radius: 1rem;
  color: #333;
  padding: 5rem; }
  .about p {
    margin: 0 2rem; }
  .about__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: min-content; }
  .about__img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
    width: auto;
    margin: 1rem; }
    .about__img img {
      width: 25rem;
      height: 15rem;
      border-radius: 1rem;
      box-shadow: 1rem 2rem 4rem rgba(0, 0, 0, 0.3); }

.about__heading {
  font-size: 12rem;
  font-weight: 100;
  color: #fff;
  padding: 5px 5rem;
  border-radius: 5px; }
  .about__heading span {
    color: #8c6e15; }
  .about__heading-2 {
    font-size: 2.5rem; }

.paragraph {
  font-size: 2rem;
  font-weight: 100; }

.header__logo {
  height: 15rem;
  margin-left: 2rem; }

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .about {
    display: flex;
    flex-flow: column; }
  .product {
    display: flex;
    flex-flow: column; } }

@media screen and (max-width: 1000px) {
  .about__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .about__item .paragraph {
      margin-bottom: 3rem; }
    .about__item .paragraph-2 {
      order: -1; }
  .product__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .product__text {
    margin-bottom: 3rem; }
  .product__text-2 {
    order: -1; }
  .heady {
    display: grid; }
  .head__picture {
    margin-bottom: 10rem;
    max-width: 99%;
    overflow-x: hidden; }
  .footer {
    padding: 0 2%;
    display: flex;
    flex-direction: column; }
    .footer__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
    .footer__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0; }
    .footer__address {
      text-align: center; }
      .footer__address .fa-map-marker {
        transform: translateX(5rem); } }

@media screen and (max-width: 700px) {
  .landing {
    text-align: center; }
    .landing__text-lg {
      margin-top: 10rem; }
    .landing__btn {
      align-self: center; }
  .menu-btn {
    margin-right: 2rem; }
  .heady {
    width: auto; }
  .head__picture {
    margin-bottom: 10rem;
    width: 96%;
    padding: 0 2%;
    overflow-x: hidden; }
  .about {
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center; }
    .about__heading {
      text-align: center; }
    .about__img {
      margin-bottom: 5rem; }
      .about__img img {
        width: 17rem; }
    .about__item {
      margin: 0 2rem;
      padding: 0 2rem; }
  #about_body {
    overflow-x: hidden; }
  .footer {
    padding: 0 2%;
    display: flex;
    flex-direction: column; }
    .footer__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
    .footer__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0; }
    .footer__address {
      text-align: center; }
      .footer__address .fa-map-marker {
        transform: translateX(5rem); } }

@media screen and (max-width: 900px) {
  .contact {
    text-align: center; }
    .contact__header {
      margin-bottom: 5rem;
      line-height: 1;
      padding-bottom: 5rem; }
    .contact__form {
      margin-top: 10rem;
      width: 40rem; }
      .contact__form textarea {
        width: 35rem; } }
