.landing {
  text-align: center;
  padding: 10rem;
  height: 100%;
  line-height: 1;
  /* background-image: linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.657),
        rgba(40, 180, 131, 0.65)
      ),
      url(../img/rice-2.jpg);*/
  background-size: cover;
  height: 100vh;

  &__text-lg {
    font-size: 10rem;
    font-weight: 400;
    color: #fff;
    margin-top: 10rem;
    margin-bottom: 5rem;

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 8rem;
    }

    span {
      color: #d6ce78;
    }
  }

  &__text-md {
    font-size: 4.5rem;
    font-weight: 100;
    color: #fff;
    margin-bottom: 5rem;
  }

  &__text-sm {
    font-size: 3.5rem;
    font-weight: 300;
    color: #fff;
    margin-bottom: 5rem;
  }

  &__btn {
    background: #fff;
    width: max-content;
    font-size: 3rem;
    font-weight: 100;
    padding: 1rem 3rem;
    border-radius: 2rem;
    margin-top: 3rem;
    color: #548056;

    &:hover {
      @include easeOut();
    }
  }

  &__icons {
    margin-top: 5rem;

    a {
      padding-right: 2rem;
      color: #fff;

      &:hover {
        color: #8c6e15;
        @include easeOut();
      }
    }
  }
}

a {
  text-decoration: none;
}

.header {
  position: fixed;
  z-index: 2;
  width: 100%;

  &__logo {
    height: 15rem;
    width: 15rem;
  }
}
