.product {
  &__header {
    height: 70vh;
    background-image: $landing-image;
    display: flex;

    justify-content: center;
    align-items: center;
    line-height: 1;

    border-radius: 5px;

    @include respond(phone) {
      height: 40vh;
    }
  }

  &__heading {
    font-size: 10rem;
    font-weight: 300;
    color: #fff;

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 7rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    span {
      color: $gold-color;
    }

    &-2 {
      font-size: 4.5rem;
      font-weight: 300;

      @include respond(phone) {
        text-align: center;
      }
    }

    &-3 {
      font-size: 7.5rem;
      text-align: center;
      font-weight: 300;
      margin-bottom: 5rem;
      color: $gold-color;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    padding: 3rem;

    @include respond(phone) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__item-order {
    order: -1;
  }

  &__image {
    width: 35%;
    margin-right: 2rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba($color: #000000, $alpha: 0.2);

    @include respond(phone) {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      margin: 0;
    }
  }

  &__text {
    font-size: 2rem;
    font-weight: 100;

    @include respond(phone) {
      text-align: center;
    }
  }

  &__text-2 {
    @include respond(phone) {
      order: -1;
    }
  }
}

.services {
  background-image: linear-gradient(
      to bottom,
      rgba(26, 112, 145, 0.7),
      rgba(2, 49, 99, 0.7)
    ),
    url(../img/business.jpg);
  background-size: cover;
  background-position: center bottom;
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 4rem;

  @include respond(phone) {
    height: 40vh;
  }

  &__header {
    text-align: center;
  }

  &__heading {
    font-size: 10rem;
    font-weight: 300;
    color: #fff;

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 7rem;
    }
    span {
      color: $gold-color;
    }
  }
}
