@import "config";
@import "menu";
@import "product";
@import "contact";
@import "footer";
@import "landing";
@import "about";

html {
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    // width < 900?
    font-size: 56.25%; //1 rem = 9px; 9/16 = 56.25%
  }

  @include respond(tab-port) {
    //width < 600?
    font-size: 50%; // 1rem = 8px 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

* {
  box-sizing: border-box;
}

body {
  @include background;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: #444;

  @include respond(tab-port) {
    padding: 0;
    margin: 0;
  }
}

h1,
h2,
h3 {
  margin: 0;
}

@import "mobile";
